1. 10살 단위로 인구를 정리한다.
2. 70대 이상은 하나로 합친다.
3. 3개의 기간동안 인구가 증가하는 곳을 찾는다
4. 남성이 여성보다 많이 거주하는 곳 가운데 인구가 3만이상인 곳을 찾는다.(없으면 없다고..!)

In [47]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/2018.06.30.기준 대구광역시 주민등록인구 현황_UTF8.csv')
df

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
0,0세,14568,7488,7080,511,275,236,2263,1161,1102,...,1356,1784,911,873,3215,1719,1496,2724,1374,1350
1,1세,17475,8947,8528,609,309,300,2755,1410,1345,...,1670,2264,1170,1094,3818,2017,1801,3063,1543,1520
2,2세,19562,9985,9577,612,308,304,3000,1467,1533,...,1847,2684,1410,1274,4423,2317,2106,3327,1668,1659
3,3세,20123,10249,9874,648,315,333,3146,1656,1490,...,1856,2876,1423,1453,4661,2366,2295,3253,1638,1615
4,4세,19794,10069,9725,556,287,269,2971,1519,1452,...,1846,3089,1596,1493,4529,2294,2235,3036,1512,1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96세,365,75,290,23,3,20,66,10,56,...,37,73,15,58,64,12,52,31,9,22
97,97세,235,45,190,18,3,15,35,13,22,...,36,43,7,36,39,6,33,16,3,13
98,98세,190,32,158,16,7,9,33,6,27,...,30,29,4,25,25,6,19,15,0,15
99,99세,112,26,86,6,1,5,25,7,18,...,13,17,4,13,19,2,17,8,2,6
100,100세 이상,614,136,478,88,15,73,106,23,83,...,52,97,24,73,68,13,55,26,8,18

In [48]:
df.columns

Index(['구분', '총계', '총계 남', '총계 여', '중구 계', '중구 남', '중구 여', '동구 계', '동구 남',
       '동구 여', '서구 계', '서구 남', '서구 여', '남구 계', '남구 남', '남구 여', '북구 계', '북구 남',
       '북구 여', '수성구 계', '수성구 남', '수성구 여', '달서구 계', '달서구 남', '달서구 여', '달성군 계',
       '달성군 남', '달성군 여'],
      dtype='object')

## 10살 단위로 인구를 정리한다

In [49]:
bins=[0,10,20,30,40,50,60,70,80,90,100,101]
labels =['0대','10대','20대','30대','40대','50대','60대','70대','80대','90대','100대']
df2=df
df2[['구분','구분1']]=df['구분'].str.split('세', n=1,expand=True)
df2

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여,구분1
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,1784,911,873,3215,1719,1496,2724,1374,1350,
1,1,17475,8947,8528,609,309,300,2755,1410,1345,...,2264,1170,1094,3818,2017,1801,3063,1543,1520,
2,2,19562,9985,9577,612,308,304,3000,1467,1533,...,2684,1410,1274,4423,2317,2106,3327,1668,1659,
3,3,20123,10249,9874,648,315,333,3146,1656,1490,...,2876,1423,1453,4661,2366,2295,3253,1638,1615,
4,4,19794,10069,9725,556,287,269,2971,1519,1452,...,3089,1596,1493,4529,2294,2235,3036,1512,1524,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,365,75,290,23,3,20,66,10,56,...,73,15,58,64,12,52,31,9,22,
97,97,235,45,190,18,3,15,35,13,22,...,43,7,36,39,6,33,16,3,13,
98,98,190,32,158,16,7,9,33,6,27,...,29,4,25,25,6,19,15,0,15,
99,99,112,26,86,6,1,5,25,7,18,...,17,4,13,19,2,17,8,2,6,
100,100,614,136,478,88,15,73,106,23,83,...,97,24,73,68,13,55,26,8,18,이상

In [50]:
df2['구분']=pd.to_numeric(df2['구분'])
df2

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여,구분1
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,1784,911,873,3215,1719,1496,2724,1374,1350,
1,1,17475,8947,8528,609,309,300,2755,1410,1345,...,2264,1170,1094,3818,2017,1801,3063,1543,1520,
2,2,19562,9985,9577,612,308,304,3000,1467,1533,...,2684,1410,1274,4423,2317,2106,3327,1668,1659,
3,3,20123,10249,9874,648,315,333,3146,1656,1490,...,2876,1423,1453,4661,2366,2295,3253,1638,1615,
4,4,19794,10069,9725,556,287,269,2971,1519,1452,...,3089,1596,1493,4529,2294,2235,3036,1512,1524,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,365,75,290,23,3,20,66,10,56,...,73,15,58,64,12,52,31,9,22,
97,97,235,45,190,18,3,15,35,13,22,...,43,7,36,39,6,33,16,3,13,
98,98,190,32,158,16,7,9,33,6,27,...,29,4,25,25,6,19,15,0,15,
99,99,112,26,86,6,1,5,25,7,18,...,17,4,13,19,2,17,8,2,6,
100,100,614,136,478,88,15,73,106,23,83,...,97,24,73,68,13,55,26,8,18,이상

In [51]:
Ages=pd.cut(df2['구분'],bins,labels=labels, right=False)
Ages

0        0대
1        0대
2        0대
3        0대
4        0대
       ...
96      90대
97      90대
98      90대
99      90대
100    100대
Name: 구분, Length: 101, dtype: category
Categories (11, object): [0대 < 10대 < 20대 < 30대 ... 70대 < 80대 < 90대 < 100대]

In [52]:
df2["구분2"] = pd.cut(df2['구분'], bins, labels=labels, right=False)
df2

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여,구분1,구분2
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,911,873,3215,1719,1496,2724,1374,1350,,0대
1,1,17475,8947,8528,609,309,300,2755,1410,1345,...,1170,1094,3818,2017,1801,3063,1543,1520,,0대
2,2,19562,9985,9577,612,308,304,3000,1467,1533,...,1410,1274,4423,2317,2106,3327,1668,1659,,0대
3,3,20123,10249,9874,648,315,333,3146,1656,1490,...,1423,1453,4661,2366,2295,3253,1638,1615,,0대
4,4,19794,10069,9725,556,287,269,2971,1519,1452,...,1596,1493,4529,2294,2235,3036,1512,1524,,0대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,365,75,290,23,3,20,66,10,56,...,15,58,64,12,52,31,9,22,,90대
97,97,235,45,190,18,3,15,35,13,22,...,7,36,39,6,33,16,3,13,,90대
98,98,190,32,158,16,7,9,33,6,27,...,4,25,25,6,19,15,0,15,,90대
99,99,112,26,86,6,1,5,25,7,18,...,4,13,19,2,17,8,2,6,,90대
100,100,614,136,478,88,15,73,106,23,83,...,24,73,68,13,55,26,8,18,이상,100대

In [53]:
df2.groupby(by='구분2').sum()

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
구분2,,,,,,,,,,,,,,,,,,,,,
0대,45,198201,101712,96489,5674,2952,2722,29075,14987,14088,...,18260,32508,16713,15795,46276,23865,22411,29751,15132,14619
10대,145,254854,134152,120702,5549,2801,2748,29903,15815,14088,...,23284,57880,30792,27088,63987,33506,30481,23382,12302,11080
20대,245,333016,180686,152330,11300,5611,5689,43608,23707,19901,...,27737,58097,31464,26633,82987,45010,37977,29853,16533,13320
30대,345,321372,164102,157270,11396,5877,5519,48971,25221,23750,...,28127,46528,22290,24238,72962,37075,35887,43404,22386,21018
40대,445,412818,203604,209214,11358,5868,5490,54564,28261,26303,...,39635,79395,36264,43131,98641,47547,51094,40726,21246,19480
50대,545,428671,210362,218309,12107,6000,6107,59064,28461,30603,...,37602,74095,36270,37825,104487,50800,53687,38816,19554,19262
60대,645,286686,136656,150030,10243,4642,5601,46790,21842,24948,...,23545,46530,21938,24592,61842,30114,31728,23984,11985,11999
70대,745,160886,69089,91797,7385,3155,4230,27835,12024,15811,...,14744,26830,11613,15217,30320,13074,17246,12057,5167,6890
80대,845,65045,21981,43064,2997,1066,1931,10725,3727,6998,...,6581,12104,4246,7858,12259,3952,8307,5235,1696,3539
90대,945,7454,1646,5808,433,107,326,1251,274,977,...,840,1404,335,1069,1291,287,1004,636,133,503
100대,100,614,136,478,88,15,73,106,23,83,...,52,97,24,73,68,13,55,26,8,18

## 70대 이상 합치기

In [54]:
bins=[0,10,20,30,40,50,60,70,101]
labels =['0대','10대','20대','30대','40대','50대','60대','70대이상']
df3=df2
df3[['구분','구분1']]=df2['구분2'].str.split('대', n=1,expand=True)
df3

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여,구분1,구분2
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,911,873,3215,1719,1496,2724,1374,1350,,0대
1,0,17475,8947,8528,609,309,300,2755,1410,1345,...,1170,1094,3818,2017,1801,3063,1543,1520,,0대
2,0,19562,9985,9577,612,308,304,3000,1467,1533,...,1410,1274,4423,2317,2106,3327,1668,1659,,0대
3,0,20123,10249,9874,648,315,333,3146,1656,1490,...,1423,1453,4661,2366,2295,3253,1638,1615,,0대
4,0,19794,10069,9725,556,287,269,2971,1519,1452,...,1596,1493,4529,2294,2235,3036,1512,1524,,0대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,90,365,75,290,23,3,20,66,10,56,...,15,58,64,12,52,31,9,22,,90대
97,90,235,45,190,18,3,15,35,13,22,...,7,36,39,6,33,16,3,13,,90대
98,90,190,32,158,16,7,9,33,6,27,...,4,25,25,6,19,15,0,15,,90대
99,90,112,26,86,6,1,5,25,7,18,...,4,13,19,2,17,8,2,6,,90대
100,100,614,136,478,88,15,73,106,23,83,...,24,73,68,13,55,26,8,18,,100대

In [55]:
df3=df3.drop(['구분1','구분2'], axis=1)
df3

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
0,0,14568,7488,7080,511,275,236,2263,1161,1102,...,1356,1784,911,873,3215,1719,1496,2724,1374,1350
1,0,17475,8947,8528,609,309,300,2755,1410,1345,...,1670,2264,1170,1094,3818,2017,1801,3063,1543,1520
2,0,19562,9985,9577,612,308,304,3000,1467,1533,...,1847,2684,1410,1274,4423,2317,2106,3327,1668,1659
3,0,20123,10249,9874,648,315,333,3146,1656,1490,...,1856,2876,1423,1453,4661,2366,2295,3253,1638,1615
4,0,19794,10069,9725,556,287,269,2971,1519,1452,...,1846,3089,1596,1493,4529,2294,2235,3036,1512,1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,90,365,75,290,23,3,20,66,10,56,...,37,73,15,58,64,12,52,31,9,22
97,90,235,45,190,18,3,15,35,13,22,...,36,43,7,36,39,6,33,16,3,13
98,90,190,32,158,16,7,9,33,6,27,...,30,29,4,25,25,6,19,15,0,15
99,90,112,26,86,6,1,5,25,7,18,...,13,17,4,13,19,2,17,8,2,6
100,100,614,136,478,88,15,73,106,23,83,...,52,97,24,73,68,13,55,26,8,18

In [56]:
df3['구분']=pd.to_numeric(df3['구분'])
df3['구분'] = pd.cut(df3['구분'], bins, labels=labels, right=False)
df3

,구분,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
0,0대,14568,7488,7080,511,275,236,2263,1161,1102,...,1356,1784,911,873,3215,1719,1496,2724,1374,1350
1,0대,17475,8947,8528,609,309,300,2755,1410,1345,...,1670,2264,1170,1094,3818,2017,1801,3063,1543,1520
2,0대,19562,9985,9577,612,308,304,3000,1467,1533,...,1847,2684,1410,1274,4423,2317,2106,3327,1668,1659
3,0대,20123,10249,9874,648,315,333,3146,1656,1490,...,1856,2876,1423,1453,4661,2366,2295,3253,1638,1615
4,0대,19794,10069,9725,556,287,269,2971,1519,1452,...,1846,3089,1596,1493,4529,2294,2235,3036,1512,1524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,70대이상,365,75,290,23,3,20,66,10,56,...,37,73,15,58,64,12,52,31,9,22
97,70대이상,235,45,190,18,3,15,35,13,22,...,36,43,7,36,39,6,33,16,3,13
98,70대이상,190,32,158,16,7,9,33,6,27,...,30,29,4,25,25,6,19,15,0,15
99,70대이상,112,26,86,6,1,5,25,7,18,...,13,17,4,13,19,2,17,8,2,6
100,70대이상,614,136,478,88,15,73,106,23,83,...,52,97,24,73,68,13,55,26,8,18

In [57]:
df3.groupby(by='구분').sum()

,총계,총계 남,총계 여,중구 계,중구 남,중구 여,동구 계,동구 남,동구 여,서구 계,...,북구 여,수성구 계,수성구 남,수성구 여,달서구 계,달서구 남,달서구 여,달성군 계,달성군 남,달성군 여
구분,,,,,,,,,,,,,,,,,,,,,
0대,198201,101712,96489,5674,2952,2722,29075,14987,14088,9719,...,18260,32508,16713,15795,46276,23865,22411,29751,15132,14619
10대,254854,134152,120702,5549,2801,2748,29903,15815,14088,14006,...,23284,57880,30792,27088,63987,33506,30481,23382,12302,11080
20대,333016,180686,152330,11300,5611,5689,43608,23707,19901,25542,...,27737,58097,31464,26633,82987,45010,37977,29853,16533,13320
30대,321372,164102,157270,11396,5877,5519,48971,25221,23750,21529,...,28127,46528,22290,24238,72962,37075,35887,43404,22386,21018
40대,412818,203604,209214,11358,5868,5490,54564,28261,26303,27671,...,39635,79395,36264,43131,98641,47547,51094,40726,21246,19480
50대,428671,210362,218309,12107,6000,6107,59064,28461,30603,38473,...,37602,74095,36270,37825,104487,50800,53687,38816,19554,19262
60대,286686,136656,150030,10243,4642,5601,46790,21842,24948,29106,...,23545,46530,21938,24592,61842,30114,31728,23984,11985,11999
70대이상,233999,92852,141147,10903,4343,6560,39917,16048,23869,22659,...,22217,40435,16218,24217,43938,17326,26612,17954,7004,10950

## 3개의 기간동안 인구가 증가하는 곳을 찾는다

In [141]:
pop1 = pd.read_csv('data/2018.06.30.기준 대구광역시 주민등록인구 현황_UTF8.csv')
pop2 = pd.read_csv('data/2018.12.31.기준 대구광역시 주민등록인구 현황_UTF8.csv')
pop3 = pd.read_csv('data/2019.06.30.기준 대구광역시 주민등록인구 현황_UTF8.csv', thousands=',')
Sum1=pop1.sum()
Sum2=pop2.sum()
Sum3=pop3.sum()

In [142]:
Sum1=Sum1.drop('구분')
Sum2=Sum2.drop('구분')
Sum3=Sum3.drop('행정구역')
print(Sum1)

총계       2469617
총계 남     1224126
총계 여     1245491
중구 계       78530
중구 남       38094
중구 여       40436
동구 계      351892
동구 남      174342
동구 여      177550
서구 계      188705
서구 남       95117
서구 여       93588
남구 계      151890
남구 남       73504
남구 여       78386
북구 계      440142
북구 남      219735
북구 여      220407
수성구 계     435468
수성구 남     211949
수성구 여     223519
달서구 계     575120
달서구 남     285243
달서구 여     289877
달성군 계     247870
달성군 남     126142
달성군 여     121728
dtype: object

In [143]:
Sum1.astype(np.int64)
Sum2.astype(np.int64)
Sum3.astype(np.int64)

총계       2450478
총계 남     1212450
총계 여     1238028
중구 계       77935
중구 남       37661
중구 여       40274
동구 계      348825
동구 남      172401
동구 여      176424
서구 계      179920
서구 남       90419
서구 여       89501
남구 계      148682
남구 남       71704
남구 여       76978
북구 계      439093
북구 남      219028
북구 여      220065
수성구 계     430481
수성구 남     209248
수성구 여     221233
달서구 계     571303
달서구 남     282756
달서구 여     288547
달성군 계     254239
달성군 남     129233
달성군 여     125006
dtype: int64

In [144]:
inc1=Sum2-Sum1
inc1[inc.values>0]

중구 계      871
중구 남      404
중구 여      467
달성군 계    2673
달성군 남    1232
달성군 여    1441
dtype: object

In [145]:
inc2=Sum3-Sum2
inc2[inc2.values>0]

달성군 계    3696
달성군 남    1859
달성군 여    1837
dtype: object

In [146]:
inc3=inc1+inc2
inc3[inc3.values>0]

달성군 계    6369
달성군 남    3091
달성군 여    3278
dtype: object

## 남성이 여성보다 많이 거주하는 곳 가운데 인구가 3만이상인 곳을 찾는다.(없으면 없다고..!)

In [154]:
Sum1.index

Index(['총계', '총계 남', '총계 여', '중구 계', '중구 남', '중구 여', '동구 계', '동구 남', '동구 여',
       '서구 계', '서구 남', '서구 여', '남구 계', '남구 남', '남구 여', '북구 계', '북구 남', '북구 여',
       '수성구 계', '수성구 남', '수성구 여', '달서구 계', '달서구 남', '달서구 여', '달성군 계', '달성군 남',
       '달성군 여'],
      dtype='object')

In [187]:
for i in Sum1.index :
    if ' 남' in i :
        boy=Sum1[i]
    elif ' 여' in i :
        girl=Sum1[i]
        pp=boy-girl
        pp2=boy+girl
        if pp>0:
            print(i[:-2]+"  %d 거주인구 : %d"%(pp,pp2))

서구  1529 거주인구 : 188705
달성군  4414 거주인구 : 247870

In [188]:
for i in Sum2.index :
    if ' 남' in i :
        boy=Sum2[i]
    elif ' 여' in i :
        girl=Sum2[i]
        pp=boy-girl
        pp2=boy+girl
        if pp>0:
            print(i[:-2]+"  %d 거주인구 : %d"%(pp,pp2))

서구  1220 거주인구 : 184372
달성군  4205 거주인구 : 250543

In [189]:
for i in Sum3.index :
    if ' 남' in i :
        boy=Sum3[i]
    elif ' 여' in i :
        girl=Sum3[i]
        pp=boy-girl
        pp2=boy+girl
        if pp>0:
            print(i[:-2]+"  %d 거주인구 : %d"%(pp,pp2))

서구  918 거주인구 : 179920
달성군  4227 거주인구 : 254239